/* >>>>>>>>>>RESET<<<<<<<<< */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700;900&display=swap");

ul,
ol {
  text-decoration: none;
}

/* >>>>>>>>>>FIN RESET<<<<<<<<< */

/* >>>>>>>>>>ESTRUCTURA<<<<<<<<< */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
  background-image: var("#"); /*Falta la imagen del fondo*/
}

/* >>>>>>>>>>FIN ESTRUCTURA<<<<<<<<< */

/* >>>>>>>>>>HEADER<<<<<<<<< */

a {
  text-decoration: none;
  font-style: normal;
  font-family: monser;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 5vh;
  grid-area: header;
  z-index: 100;
}

.logo {
  background-image: var(--img-logo);
  background-size: contain;
  background-repeat: no-repeat;
  width: 32vh;
  height: 7vh;
}

nav {
  display: flex;
  margin-top: 15px;
  gap: 0.5em;
}

nav a {
  color: var(--color-acento);
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}

nav a.destacado {
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}

nav a.destacado.activo {
  text-decoration: underline;
  text-decoration-color: var(--color-texto-acento);
}

nav a.destacado:hover {
  transform: scale(1.1);
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}
nav a.resaltado {
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}
/* >>>>>>>>>>FIN HEADER<<<<<<<<< */

/* >>>>>>>>>> MAIN <<<<<<<<< */
main {
  grid-area: main;
}
.tituloMain {
  font-size: 3em;
  color: var(--color-acento);
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}

.parrafo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 28em 2em 28em;
  text-align: justify;
}

.requisitos {
  justify-content: center;
  height: 100vh;
  margin: 2em 7em 2em 7em;
  gap: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
}

.requisitos > div {
  position: relative;
  height: 30vh;
  border: 0.1em;
  border-style: dashed;
  border-radius: 15px;
  border-color: var(--color-acento);
  /*>>>>>>>>>>>>>>>PROBANDO<<<<<<<<<<<<<<<*/
  display: grid;
  /* gap: 2em; */
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-areas: "img tituloRequisito" "img parrafoRequisito";

  /*>>>>>>>>>>>>>>>PROBANDO<<<<<<<<<<<<<<<*/
  padding: 1em;
  margin: 1.8em 0.3em 1.8em 0.3em;
}
.img {
  grid-area: img;
  height: 66px;
  width: 73px;
}

.tituloRequisito {
  color: var(--color-acento);
  grid-area: tituloRequisito;
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.requisitos__numeros {
  background-color: var(--color-acento);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
.parrafoRequisito {
  /* background-color: aqua; */
  padding-left: 2em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  grid-area: parrafoRequisito;
}

/* >>>>>>>>>> FIN MAIN <<<<<<<<< */

/* >>>>>>>>>>TEMPORAL<<<<<<<<< */

footer {
  grid-area: footer;
}

/* >>>>>>>>>>FIN TEMPORAL<<<<<<<<< */
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
