/* >>>>>>>>>>RESET<<<<<<<<< */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700;900&display=swap");

ul,
ol {
  text-decoration: none;
}

/* >>>>>>>>>>FIN RESET<<<<<<<<< */

/* >>>>>>>>>>ESTRUCTURA<<<<<<<<< */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
  background-image: var("#"); /*Falta la imagen del fondo*/
}

/* >>>>>>>>>>FIN ESTRUCTURA<<<<<<<<< */

/* >>>>>>>>>>HEADER<<<<<<<<< */

a {
  text-decoration: none;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 5vh;
  z-index: 100;
}

.logo {
  background-image: var(--img-logo);
  background-size: contain;
  background-repeat: no-repeat;
  width: 32vh;
  height: 7vh;
}

nav {
  display: flex;
  margin-top: 15px;
  gap: 0.5em;
}

nav a {
  color: var(--color-acento);
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}

nav a.destacado {
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}

nav a.destacado.activo {
  text-decoration: underline;
  text-decoration-color: var(--color-texto-acento);
}

nav a.destacado:hover {
  transform: scale(1.1);
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}
nav a.resaltado {
  color: var(--color-texto-acento);
  background-color: var(--color-acento);
}
/* >>>>>>>>>>FIN HEADER<<<<<<<<< */

/* >>>>>>>>>> MAIN <<<<<<<<< */
main {
}
.tituloMain {
  font-size: 3em;
  color: var(--color-acento);
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}

.parrafo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 28em 2em 28em;
  text-align: justify;
}

.requisitos {
  justify-content: center;
  margin: 2em 7em 2em 7em;
  gap: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
}

.requisitos > div {
  position: relative;
  height: 30vh;
  border: 0.1em;
  border-style: dashed;
  border-radius: 15px;
  border-color: var(--color-acento);
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-areas: "img tituloRequisito" "img parrafoRequisito";
  padding: 1em;
  margin: 1.8em 0.3em 1.8em 0.3em;
}
.img {
  grid-area: img;
  height: 66px;
  width: 73px;
}

.tituloRequisito {
  color: var(--color-acento);
  grid-area: tituloRequisito;
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}
.requisitos__numeros {
  background-color: var(--color-acento);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
.parrafoRequisito {
  padding-left: 2em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  grid-area: parrafoRequisito;
}

/* >>>>>>>>>> FIN MAIN <<<<<<<<< */

/* >>>>>>>>>>TEMPORAL<<<<<<<<< */
:root {
  /* COLORES */
  /* Backgrounds */
  --color-bg: #f8f6f6;
  --color-bg-2: #ffffff;
  --color-bg-3: ;

  /* Paleta de colores  */
  --color-primario: #833d01;
  --color-texto-primario: #ffffff;

  --color-secundario: #ffbf94;
  --color-texto-secundario: ;

  --color-acento: #d67d31;
  --color-texto-acento: #ffffff;

  /* IMAGENES  */

  /* Fondo aplicado al body en el responsive. */
  --img-logo: url("../img/logo.png");

  /* TIPOGRAFIA */
  --txt-titulo: ;
}

/* ====== Footer ====== */

.footer {
  background: url("../img/wave.svg");
  background-size: cover;
  padding-top: 11rem;
}

.footer__contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.footer__grid {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.footer__box {
  display: grid;
  grid-template-columns: 1fr 0.15fr 3fr;
}
.footer__box img {
  grid-column: 1 / 4;
}

.footer__box h3,
.footer__box p,
.footer__box a {
  grid-column: 1 / 4;
}

.footer__box:nth-child(1) {
  margin-bottom: 4rem;
}
.footer__titulo {
  font-family: var(--fuente-principal);
  font-size: 2.4rem;
}

.footer__barra {
  background-color: var(--secundario);
  padding: 2rem 4rem;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer__logo {
  width: 17rem;
}

.footer__redes {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}

.footer__redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primario);
  width: 3.5rem;
  height: 3.5rem;
}

.footer__redes img {
  height: 1.5rem;
}

/* >>>>>>>>>>FIN TEMPORAL<<<<<<<<< */
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
