/* RESET */

html {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 22px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
address {
    text-decoration: none;
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

/* FIN RESET */

/* GENERALES ESTRUCTURA */
body {
    background-color: var(--color-bg);
    background-image: var(--img-bg);
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(5%, 1fr) 4fr minmax(5%, 1fr);
    grid-template-rows: 15vh auto 15vh;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/* ----- HEADER ----- */

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 5vw;
    background-color: var(--color-bg);
    grid-area: header;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.logo {
    background-image: var(--img-logo);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32vh;
    height: 7vh;
}

nav {
    display: flex;
    margin-top: 15px;
    gap: 0.5em;
}

nav a {
    color: var(--color-primario);
    padding: 5px 10px;
    border-radius: 15px;
    transition: all .3s ease;
}

nav a:hover {
    color: var(--color-texto-acento);
    background-color: var(--color-acento);
}

nav a.activo {
    text-decoration: underline;
    text-decoration-color: var(--color-acento);
}

nav a.destacado {
    color: var(--color-texto-acento);
    background-color: var(--color-acento);
}

nav a.destacado.activo {
    text-decoration: underline;
    text-decoration-color: var(--color-texto-acento);
}

nav a.destacado:hover {
    transform: scale(1.1);
    color: var(--color-texto-acento);
    background-color: var(--color-acento);
}

/* ----- FIN HEADER ----- */

main {
    max-width: 1800px;
    grid-area: main;
    /* background-color: lightcoral; */
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);
}

section {
    width: 100%;
}

.hero {
    width: 100%;
    height: 75vh;
    max-height: 580px;
    background-size: contain contain;
    background-position: center;
}

/* ----- FOOTER ----- */
footer {
    padding: 10px;
    display: grid;
    grid-area: footer;
    background-color: lightblue;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "contacto contacto enlaces enlaces";
    font-size: 0.8rem;
}

footer address {
    grid-area: contacto;
}


nav.footer {
    grid-area: enlaces;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 20% 20%;
    grid-template-areas: "title title" "item1 item3" "item2 item4";
    margin-top: 0;
    gap: 0;
}

nav.footer .title {
    grid-area: title;
}

nav.footer :nth-child(2) {
    grid-area: item1;
}

nav.footer :nth-child(3) {
    grid-area: item2;
}

nav.footer :nth-child(4) {
    grid-area: item3;
}

nav.footer :nth-child(5) {
    grid-area: item4;
}

/* ----- FIN FOOTER ----- */

/* RESPONSIVE */
/* Tablet */
@media screen and (min-width: 768px) {
    body {
        grid-template-rows: 10vh auto 15vh;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    nav {
        margin-top: 0;
    }

    footer {
        grid-template-areas: "contacto contacto contacto enlaces";
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        grid-template-areas: "header header header" ". main ." "footer footer footer";
    }
}

/* Desktop 4k */
@media screen and (min-width: 1600px) {
    body {
        grid-template-columns: minmax(10%, 500px) minmax(50%, 1800px) minmax(10%, 500px);
    }
}

/* FIN GENERALES ESTRUCTURA */

/* PAGINA INICIO */

/* ----- HERO ----- */
.hero {
    background-image: url("../img/perritos-min2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero h1,
.hero h2 {
    padding: 5px;
    color: #ffffff;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(131, 61, 1, 0.5);
}

.hero h1 {
    border-radius: 0 10px 0 0;
    padding-bottom: 10px;
}

.hero h2 {
    border-radius: 0 10px 10px 0;
}

/* ----- FIN HERO ----- */

/* ----- SECCION INFO ----- */
.info {
    background-color: var(--color-bg-2);
    height: 15vh;

}