/*
* En este documento se encuentran todas las variables del proyecto, organizadas de la siguiente manera:
*
* COLORES
* |_ Background (bg): Son los colores que utilizaremos para los distintos background-color.
* |_ Paleta de colores: es la paleta de colores con sus para los distintos elementos del proyecto.
*
* IMAGENES: Son la referencia a las distintas imagenes del proyecto.
*/

:root {
    /* COLORES */
    /* Backgrounds */
    --color-bg: #f8f6f6;
    --color-bg-2: #ffffff;
    --color-bg-3: ;

    /* Paleta de colores  */
    --color-primario: #833d01;
    --color-texto-primario: #ffffff;

    --color-secundario: #ffbf94;
    --color-texto-secundario: ;

    --color-acento: #d67d31;
    --color-texto-acento: #ffffff;

    /* IMAGENES  */
    --img-bg: url("../img/bg-huellas.png");
    /* Fondo aplicado al body en el responsive. */
    --img-logo: url("../img/logo.png");
    --img-hero-inicio: url("../img/perritos-min2.png");

    /* TIPOGRAFIA */
    --txt-titulo: ;
}